.banner {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #5f9fe3 10%, #A2C7E5 90%);
    height: 100vh
}

a.main-stroked-button {
    font-size: 13px;
    border-radius: 25px;
    padding: 11px 25px;
    background-color: transparent;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  a.main-stroked-button:hover {
    background-color: #fff;
    color: #5fb759;
  }
  
  a.main-filled-button {
    font-size: 13px;
    border-radius: 25px;
    padding: 13px 25px;
    background-color: #fff;
    text-transform: uppercase;
    color: #5fb759;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  a.main-filled-button:hover {
    color: #fff;
    background-color: #5fb759;
  }

.Modern-Slider .text-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Modern-Slider .item .img-fill{
    height:95vh;
    background:#000;
  }
  
  .Modern-Slider .item .info > div{
    display:inline-block!important;
    vertical-align:middle;
  }
  
  .Modern-Slider .NextArrow{
    position:absolute;
    top:50%;
    right:30px;
    border:0 none;
    background-color: transparent;
    text-align:center;
    font-size: 36px;
    font-family: 'FontAwesome';
    color:#FFF;
    z-index:5;
    outline: none;
  }
  
  .Modern-Slider .NextArrow:before{
    content:'\f105';
  }
  
  .Modern-Slider .PrevArrow {
    position:absolute;
    top:50%;
    left:30px;
    border:0 none;
    background-color: transparent;
    text-align:center;
    font-size: 36px;
    font-family: 'FontAwesome';
    color:#FFF;
    z-index:5;
    outline: none;
  }
  
  .Modern-Slider .PrevArrow:before{
    content:'\f104';
  }
  
  .scroll-down {
    position: absolute;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 10;
  }
  
  .scroll-down a {
    display: inline-block;
    background-color: #5fb759;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  ul.slick-dots {
    display: none!important;
  }
  
  .Modern-Slider .text-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Modern-Slider .item h3 {
    margin-bottom: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color:#FFF;
    animation:fadeOutRight 1s both;
  }
  
  .Modern-Slider .item h5 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 2.5px;
    color:#FFF;
    overflow:hidden;
    animation:fadeOutLeft 1s both;
  }
  
  .Modern-Slider .item a {
    margin: 0 5px;
  }
  
  .Modern-Slider .item.slick-active h3{
    animation:fadeInDown 1s both 1s;
  }
  
  .Modern-Slider .item.slick-active h5{
    animation:fadeInLeft 1s both 1.5s;
  }
  
  .Modern-Slider .item.slick-active{
    animation:Slick-FastSwipeIn 1s both;
  }
  
  .Modern-Slider .buttons {
    position: relative;
  }
  
  .Modern-Slider {background:#000;}
  